- if task.errors.present?
  %ul#error_explanation
    - task.errors.full_messages.each do |message|
      %li= message

= form_with model: task, local: true do |form|

  .form-group
    = form.label :name
    = form.text_field :name, class: 'form-control'

  .form-group
    = form.label :description
    = form.text_area :description, class: 'form-control'

  .form-group
    = form.label  :status_value
    = form.select :status_value, Task.status_values.keys, prompt: 'ステータスを選択してください', class: 'form-control'

  .form-group
    = form.label :image
    = form.file_field :image, class: 'form-control'

  .actions
    = form.submit nil, class: 'btn btn-outline-info'