%h1 タスク一覧

.mb-3
%table.table.table-hover
  %thead
    %tr
      %th= Task.human_attribute_name(:name)
      %th= Task.human_attribute_name(:description)
      %th= Task.human_attribute_name(:created_at)
  %tbody
    - @tasks.each do |task|
      %tr
        %td= task.name
        %td= task.description
        %td= task.created_at


=link_to 'タスクを作成する', new_task_path, class: 'btn btn-outline-info'
